<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список продуктов </title>
</head>
<body>
<h1>Это список продуктов</h1>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>Название</td>
        <td>Стоимость</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.title}">prod1</td>
        <td th:text="${product.cost}">10</td>
    </tr>
    </tbody>
</table>
</body>
</html>
